body{
    border-color: #b8daff; border-style: solid; border-width: 2px;
    background-color: #007bff;
    background-color: #0c5460;
    color: #9fffff;
    margin-left: 30px; margin-right: 30px; margin-bottom: 30px; margin-top: 30px;
}

h1 {
    text-align: center;
    font-family: sans-serif; color: #9fff0f; text-transform: uppercase;
    margin: auto;

}
h2 {
    text-align: center;
    font-family: sans-serif; color: #9fff0f; text-transform: uppercase;
}
h3 {text-align: center; text-transform: capitalize; color: #9fcdf0;}
h4 {text-align: center; font-family: serif; color: #b8daff;}
h5 {text-align: center;}
h6 {text-align: center;}
p  {
    text-align: center;
    text-align: justify-all;
    font-family: sans-serif;
    font-style: normal;
    font-variant: normal;
}

ul{
    font-family: sans-serif;
    color:#9fffff; text-align: center;
    list-style-position: inside;
}

a {
    color: #0b2e13;
    text-decoration: none;
}
a:link{color:wheat;}
a:visited{color:wheat;}
a:hover{
    color:yellowgreen;
    background-color: cornflowerblue;
    text-decoration: underline;
}
a:active{color:darkred}

.buttonPosition {text-align: left;}


#WalesckoRodape{color:#39b3d7;text-align: center; padding: 30px 0;}


.lightDark-mode {
    background-color: #000000;
    color: #ffffff;
}
