body{
    border-color: #b8daff; border-style: solid; border-width: 2px;
    background-color: #0f0fff;

    margin-left: 30px; margin-right: 30px; margin-bottom: 30px; margin-top: 30px;
}

h1 {text-align: center; font-family: sans-serif; color:yellow; text-transform: uppercase}
h2 {
    text-align: center; font-family: sans-serif; color:yellowgreen; text-transform: uppercase;
    /*border-color: #b8daff; border-style: solid; border-width: 2px;*/
}
h3 {text-align: center; text-transform: capitalize}
h4 {text-align: center; font-family: Arial; color: #b8daff; text-decoration: underline}
h5 {text-align: center;}
h6 {text-align: center;}
p  {
    text-align: justify-all;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    color: #9fcdf0;
    padding-left: 40px; padding-right: 40px; padding-bottom: 5px; padding-top: 5px;
    background-color: #0f0fff;
}
strong {font-family: sans-serif, monospace;}
a {
    color: #0b2e13;
    text-decoration: none;
}
a:link{color:wheat;}
a:visited{color:wheat;}
a:hover{
    color:yellowgreen;
    background-color: cornflowerblue;
}
a:active{color:darkred}

#WalesckoRodape{color:#39b3d7;text-align: center; padding: 30px 0;}
.destaque{color: #ffe8a1; font-family: "Times New Roman";}





